h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #DB6042;
  text-align: center;
  font-size: 40px;
  margin: 40px 20px 40px 20px;
}

#button {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  position: relative;
}

#description {
  border: 1px #DB6042;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: dotted;
  text-align: center;
}

#description p {
  color: #512c20;
  font-weight: bold;
}

.container {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin: auto;
}

.name {
  font-size: large;
  font-weight: bold;
}

a {
	text-decoration: none;
	color: #18272F;
	font-weight: 700;
  position: relative;
}

/* taken from website: https://codepen.io/team/css-tricks/pen/xxPORam */
a::before {
  content: '';
  background-color: #FFB5A7;
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

/* taken from website: https://codepen.io/team/css-tricks/pen/xxPORam */
a:hover::before {
  bottom: 0;
  height: 100%;
}